body {
  text-align: center;
  background: #f7f8fa no-repeat top center;
  background-size: 100%;
}
#wrap {
  margin: 0.8em;
  display: inline-block;
}
#form{
  padding: 0.8em 0;
}

.enter_val {
  padding-left: 0.5em;
  margin-bottom: 1em;
}
.enter_val.error {
  background: #f0e9ea;
}
.enter_val:hover {
  background: #eaeff5;
}
.enter_val.error:hover {
  background: #f0d0d0;
}

.enter_val label {
  float: left;
  padding: 1em 2em 0 0;
}
.enter_val input ,
.enter_val .val_groups {
  float: right;
  width: 15em;
}
.enter_val .val_groups input {
  float: left;
  width: 7em;
  margin-right: 1em;
}
.enter_val .val_groups input:last-child {
  margin-right: 0;
}

#form-button {
  float: right;
}

#print_field{
  margin: 0 auto;
  display: none;
}

.plot-popup {
  min-width: 100px;
  max-width: 200px;
  background: #ffffff;
  padding: 5px;
  box-shadow: 1px 1px 5px #d0d0d0;
  margin: 25px -20px 10px;
  text-align: left;
  display: inline-block;
  position: absolute;
}
.plot-popup:before {
  content: '';
  display: inline-block;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  position: absolute;
  top: -20px;
  left: 15px;
}